<?xml version="1.0"?>
<launch>
    <!--    Drone model param   -->
    <arg name="drone_model" default="tello"/>
    <param name="drone_model" type="str" value="$(arg drone_model)" />

    <!-- Image Post-processed-->
    <arg name="image_yolo" default="/brain/yolo_output/image_raw"/>
    <arg name="image_cmd" default="/brain/cmd_response/image_raw"/>

    <node name="tello_driver_node" pkg="tello_driver" type="tello_driver_node.py" output="screen"/>
    <!--<node name="drone" pkg="follow_person" type="my_solution_tello.py" output="screen"/>-->
    <node name="image_view_yolo" pkg="image_view" type="image_view">
        <remap from="image" to="$(arg image_yolo)"/>
    </node>
    <node name="image_view_cmd" pkg="image_view" type="image_view">
        <remap from="image" to="$(arg image_cmd)"/>
    </node>
</launch>
